.Title {
    color: #f7a31b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
}
img{
    width: 200px;
    height: 200px;
    box-align:center;
    border: 5px solid black;   
}
.button1{
    color: black;
}

div{
    width: 100px;

}