
body{
    background-color: #ffa89e; 
    border-style: groove;
    border-color:#ff1a00 ;

}

.Title {
    color:#ff1a00;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
    text-shadow: 4px solid black;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;   
}
.button1{
    color: black;
}
#ButtonA{
    margin-left:15px;
    margin-right:15px;
    padding-left: 15px;
}
#ButtonB{
    margin-left:15px;
    margin-right:15px;
    padding-left: 15px;
}
#ButtonC{
    margin-left:15px;
    margin-right:15px;
    padding-left: 15px;
}
#ButtonD{
    margin-left:15px;
    margin-right:15px; 
    padding-left: 15px;
}