
.Title {
    color: #f7a31b;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-align: center;
    font: outline solid black;
}
img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;   
}
.button1{
    color: black;
}
#ButtonA{
    margin-left:15px;
    margin-right:15px;
    padding-left: 15px;
}
#ButtonB{
    margin-left:15px;
    margin-right:15px;
    padding-left: 15px;
}
#ButtonC{
    margin-left:15px;
    margin-right:15px;
    padding-left: 15px;
}
#ButtonD{
    margin-left:15px;
    margin-right:15px; 
    padding-left: 15px;
}